body{
    background-image: url(./erol-ahmed-d3pTF3r_hwY-unsplash.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.countdown-container{
    display: flex;
}

h1{
    font-size: 4rem;
    margin-top: 10rem;
}
.bigtext{
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 3rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 2rem;
}